.cal {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-title {
  display: inline-block;
  text-align: center;
  width: 100%;
}
h1 {
  overflow-wrap: normal;
}
