<div>
  <h1 class="text-center">Paramètres</h1>
  <mat-list>
    <mat-list-item>
      <mat-icon>swap_horiz</mat-icon
      ><span class="pl-2"> Barre latérale déployée par défaut</span
      ><span class="example-spacer"></span>
      <mat-slide-toggle color="primary"></mat-slide-toggle
    ></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon>dark_mode</mat-icon><span class="pl-2"> Thème sombre</span
      ><span class="example-spacer"></span>
      <mat-slide-toggle disabled color="primary"></mat-slide-toggle
    ></mat-list-item>
    <mat-divider></mat-divider>
    <!-- <mat-list-item>
      <mat-icon>dark_mode</mat-icon><span class="pl-2"> Mode sombre</span><span
        class="example-spacer"
      ></span>
      <mat-slide-toggle color="primary"></mat-slide-toggle
    ></mat-list-item>
    <mat-divider></mat-divider> -->
  </mat-list>
  <div class="text-center">
    <br />
    <button mat-button color="primary" class="border" type="button">
      Sauvegarder les changements
    </button>
  </div>
</div>
